// App and Bootstrap variables required
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';
@import '../../scss/variables';
@import '../../scss/bootstrap/variables';

.footer {
  padding: 1rem;
  margin-top: 5rem;
  width: 100%;
  a {
    color: $secondary;
    display: flex;
    align-items: center;
    text-transform: none;
    font-weight: $font-weight-normal;

    &:hover:not(.active) {
      color: inherit;
      svg {
        color: $secondary;
      }
    }
    svg {
      width: 24px;
      height: 24px;
      margin-right: 12px;
    }
  }
}

.primaryLink {
  color: $primary !important;
  display: contents !important;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .footerDefichainLink {
    margin-top: 1rem;
  }
}
