// App and Bootstrap variables required
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';
@import '../../scss/variables';
@import '../../scss/bootstrap/variables';

.keyValueLi {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.value {
  position: relative;
  display: grid;
  width: inherit;

  svg {
    display: block;
    color: $secondary;
  }

  .valueLink {
    cursor: pointer;
    color: $primary;
  }
}

.copiedIndicator {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $white;
  align-items: center;
  justify-content: center;
  display: none;
}

.card {
  .copiedIndicator {
    background-color: $body-bg;
  }
}
